$main-font: "Product Sans", "Roboto", sans-serif;
$alt-font: "Roboto", sans-serif;

$background: #fff;
$alt-background: #f1f3f4;

$main: #4f8df5;
$accent: #fbc014;

$color: rgba(#000, 0.95);
$alt-color: #5f6368;

input, button {
  font-family: inherit;
}